<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Root</title>
</head>
<body>
    <a href="find_session/">find_session</a><br>
    <a href="leave_session/">leave_session</a><br>
    <a href="join_session/">join_session</a><br>
    <a href="join_waitingroom/">join_waitingroom</a><br>
    <a href="leave_waitingroom/">leave_waitingroom</a><br>
    <a href="instant_match/">instant_match</a><br>
    <a href="instant_abort/">instant_abort</a><br>
    <a href="add_all_waitingroom_to_sessions/">add_all_waitingroom_to_sessions</a><br>
    <a href="get_room_id/">get_room_id</a><br>
    <a href="get_room_messages/">get_room_messages</a><br>
    <a href="close_session/">close_session</a><br>
    <a href="add_all_waitingroom_to_sessions_circle/">add_all_waitingroom_to_sessions_circle</a><br>
</body>
</html>