<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control Panel</title>
</head>
<body>
    
    <div id="root">
        <h1>{{user.email}} </h1>
        <h1>user id:{{user.user_ID}}</h1>
        <div id="buttons" >
            <span>chat buttons:</span>

        </div>

    </div>
    <script>
        const root = document.querySelector("#buttons")
        const chatApiUrls = [
            "/join_waitingroom/",
            "/leave_waitingroom/",
            "/join_session/",
            "/leave_session/",
            "/add_all_waitingroom_to_sessions/",
            "/close_session/"
        ]
        const chatApiEndpoint = "http://127.0.0.1:8000/chat"
        let i = 0
        chatApiUrls.map(url => {
            let panelButton = document.createElement("button")
            panelButton.id = i
            panelButton.innerHTML = url
            panelButton.addEventListener("click", () => {
                fetch(chatApiEndpoint+url)
                .then(res => res.json())
                .then(data => console.log(data))
                .catch(err => console.log(err))
            }) 
            root.appendChild(panelButton)
            i++;
        })
    </script>
</body>
</html>